*{
  margin :0;
  padding: 0;
  box-sizing:border-box;
  font-family: "Poppins", sans-serif;

}

body{

  min-height:100vh;
  width:100%;

background: linear-gradient(90deg, rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(13, 13, 13, 1) 100%);

}